textarea.paste_code,
textarea.paste_textarea {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-sizing: border-box;
    display: block;
    font-family: Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace,serif;
    font-size: 13px;
    height: 200px;
    min-height: 200px;
    line-height: 21px;
    width: 100%;
    margin: 0;
    padding: 8px 12px;
}
.textarea_border {
    margin: 0 0 10px;
    padding: 0;
}
.form_left {
    float: left;
    line-height: 35px;
    width: 150px;
    margin: 0 0 10px;
}

.form_right {
    float: left;
    line-height: 35px;
    min-width: 300px;
    text-align: left;
    margin: 0 0 10px;
}

input.btnbig {
    font-weight: 600;
    height: 35px;
    line-height: 35px;
    padding: 0 25px;
}

.button1, .button2, input.button1 {
    background-color: #ddd;
    border-bottom: 2px solid #ccc;
    border-left: 0;
    border-radius: 3px;
    border-right: 0;
    border-top: 0;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: "segoe ui","trebuchet MS","Lucida Sans Unicode","Lucida Sans",Sans-Serif;
    font-size: 13px;
    font-weight: 400;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    text-align: center;
    text-decoration: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 10px;
}

.content_title {
    color: #333;
    font-size: 1em;
    font-weight: 600;
    padding: 0 0 5px;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}
.form_frame_left {
    float: left;
    min-width: 558px;
    max-width: 558px;
    margin: 10px 10px 10px 0;
}